# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
public
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Ignore specific files
.login.jsx
.login.css
.env
.eslintrc.cjs
/package-lock.json
/package.json
.vite.config.js

# .gitignore
src/browse-playlists/
src/pages/login.jsx/
src/pages/login.css/
src/pages/index.css/



